@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body{
    height: 100vh; /*altura total do viewport*/
    width: 100vw; /*largura total do viewport*/ 
    background-color: rgb(8, 1, 1);
}

body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-position: top center; /*alinhamento do topo ao centro*/
    background-size: cover; /*cobre o viewport inteiro*/
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
    /*background-color: rgb(4, 252, 4); só para posicionamento, após foi desativado*/
}

section#telefone{
    position: absolute;
    top: 50%;  /*posiciona a ponta superior esquerda ao centro*/
    left: 50%; /*posiciona a ponta superior esquerda ao centro*/
    transform: translate(-50%, -50%);/*posiciona o bloco inteiro ao centro*/
    height: 627px; /*verificar no gimp as dimensões da imagem*/
    width: 311px; /*inicialmente era 500px, mas foi preciso redimensionar a imagem*/
    /*background-color: blue; só para posicionamento, após foi desativado*/
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

/*coloca os icones de redes sociais à direito do viewport 
section#rsocial{
    text-align: right;
}
*/

section#rsocial img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
}

section#rsocial img:hover{
    border: 2px solid rgb(102, 95, 95);
    transform: translate(4px, -4px); /*move os icones para a direita (valor positivo) e topo (valor negativo)*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0);
    transition: transform 0.5s; /*regula o movimento dos icones no hover*/
    transition: border 0.5s;
}